.level {
  background-color: rgba(96, 96, 96, 0.31);
  border-radius: 5px;
  width: 75px;
  align-content: center;
  padding: 10px;
}

.examples {
  max-width: 50%;
  margin: auto;
  text-align: left;
}

.example-image {
  margin-right: 15px;
  width: 150px;
}
