.level {
  background-color: rgba(96, 96, 96, 0.31);
  border-radius: 5px;
  width: 75px;
  align-content: center;
  padding: 10px;
  margin: auto;
  margin-bottom: 5px;
}

/* Code */
.code-1 {
  text-align: left;
  margin: auto;
  width: 75%;
  background-color: rgba(255, 235, 59, 0.75);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.code-1 code {
  background-color: transparent;
}

.code-2 {
  text-align: left;
  margin: auto;
  width: 75%;
  background-color: #2B2B2B;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.code-2 code {
  background-color: transparent;
  color: white;
}

pre {
  background-color: transparent !important;
  border: none !important;
  color: white !important;
  margin: 0px !important;
  padding: 0px !important;
}

.view-solution {
  border-radius: 4px;
  background-color:#E74C3C;
  color: white;
  border: none;
  padding: 20px;
  width: 100px;
}

.green, .s5 {
  color: #075A42;
}

.orange, .s2, .s4 {
  color: #CC7832;
}

.gray, .s0 {
  color: #4A6D7F;
}

.purple {
  color: #4266BA;
}

.blue, .s3 {
  color: #3971A1;
}

.deeporange {
  color: #96392B;
}
